body {
    display: flex; 
    flex-direction: column;
    margin: 0;
}

/* All header code */
.logo > img {
    width: 35px;
    background-color: #1f2937;
}

.header {
    display: flex; 
    padding-left: 100px;
    padding-right: 100px; 
    justify-content: space-between;
    align-items: center;
    background-color: #1f2937;
}

ul {
    display: flex;
    list-style-type: none; 
    gap: 16px;
}

a {
    font-size: 13px;
    text-decoration: none;
    color: #e5e7eb;
}

/* All content code */ 
.content-container {
    display: flex; 
    background-color: #1f2937;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 100px;
    padding-bottom: 150px;
    justify-content: space-between;
}

.title {
    font-size: 24px;
    font-weight: bolder;
    color: #f9faf8;
}

.paragraph {
    font-size: 15px;
    padding-bottom: 16px;
    color: #f9faf8;
}

.content-image > img {
    width: 450px;
}

button {
    padding: 8px 16px;
    border-radius: 10px;
    border: 2px solid #1f2937;
}

/* Image code */ 
.image-container {
    display: flex; 
    flex-direction: column;
    padding-bottom: 100px;
}

.image-header {
    display: flex; 
    font-size: 26px;
    font-weight: bolder;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-bottom: 30px;
    justify-content: center;
    align-items: center;
}

.card-container {
    display: flex;
    justify-content: space-between;
    padding-right: 100px;
    padding-left: 100px;
}

.image-one > img,
.image-two > img,
.image-three > img,
.image-four > img {
    width: 100px; 
    height: 100px; 
    border: 4px solid #1f2937;
    border-radius: 10px;
    justify-content: center;
}

.text-one,
.text-two,
.text-three,
.text-four {
    width: 100px;
    text-align: center;
}

/* quote code */
.quote-container {
    display: flex;
    flex-direction: column;
    background-color: #e5e7eb;
    padding-top: 150px;
    padding-bottom: 150px;
    padding-right: 100px;
    padding-left: 100px;
}

.quote-content {
    font-size: 18px;
    font-style: italic;
    color: #1f2937;
}

.author {
    font-size: 18px;
    font-weight: bold;
    padding-top: 20px;
    align-self: flex-end;
    margin-right: 50px;
}

/* action code */ 
.action-container {
    display: flex; 
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 100px;
    padding-left: 100px;
    justify-content: center;
    align-content: center;
    background-color: #1f2937;
}

.blue-box {
    display: flex; 
    background-color: #f9faf8;
    padding: 30px 50px 30px 50px; 
    gap: 70px;
    border-radius: 10px;
}

.blue-box-header {
    font-size: 15;
    font-weight: bold;
}

.blue-box-paragraph {
    font-size: 13px;
}

.blue-box.button {
    border: 2px solid #1f2937;
}

/* footer code */ 
.footer {
    display: flex; 
    justify-content: center;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-right: 100px;
    padding-left: 100px;
}